<div class="mobilePart" style="min-height: 600px">
  <div class="float-end my-3">
    <nevy11-question></nevy11-question>
  </div>
  <br />
  <div class="my-3">
    <nevy11-answer></nevy11-answer>
  </div>
  <div class="float-end my-3">
    <nevy11-question></nevy11-question>
  </div>
  <br />
  <div class="my-4">
    <nevy11-answer></nevy11-answer>
  </div>
  <!-- <div class="float-end my-3">
    <nevy11-question></nevy11-question>
  </div>
  <br />
  <div class="my-4">
    <nevy11-answer></nevy11-answer>
  </div>
  <div class="float-end my-3">
    <nevy11-question></nevy11-question>
  </div>
  <br />
  <div class="my-4">
    <nevy11-answer></nevy11-answer>
  </div> -->
</div>
