<p>use our Laikipia App</p>
<div class="lap h-100">
  <div class="float-end mt-e">
    <nevy11-question></nevy11-question>
  </div>
  <br />
  <div class="my-4">
    <nevy11-answer></nevy11-answer>
  </div>
  <div class="float-end mt-e">
    <nevy11-question></nevy11-question>
  </div>
  <br />
  <div class="my-4">
    <nevy11-answer></nevy11-answer>
  </div>
  <div class="float-end mt-e">
    <nevy11-question></nevy11-question>
  </div>
  <br />
  <div class="my-4">
    <nevy11-answer></nevy11-answer>
  </div>
  <div class="float-end mt-e">
    <nevy11-question></nevy11-question>
  </div>
  <br />
  <div class="my-4">
    <nevy11-answer></nevy11-answer>
  </div>
</div>
